<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <script src="../static/script/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Wedding Boom</title>
</head>

<body>
    <div class="wrapper">
        <div class="wrapper__fullscreen-block fullblock_1">
            <div class="wrapper__container">
                <div class="header__container">
                    <div class="burger_logo">
                        <span class="span_2"></span>      
                    </div>
                    <div class="nav_menu">
                        <ul class="nav_menu-elements">
                            <li class="menu_item"><a href="#">Contacts</a></li>
                            <li class="menu_item"><a href="#">About</a></li>
                            <li class="menu_item"><a href="#">Stories</a></li>
                            <li class="menu_item"><a href="#">Archive</a></li>
                            <li class="menu_item item-burger"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content__container">
                <div class="content__column_one ontent__column">
                    <div class="content__text_rest">
                        <div class="column_text_content">
                            <div class="column__title">
                                <h1>Wedding Boom</h1>
                            </div>
                            <div class="column_text">
                                <p>We create your unique story.</p>
                            </div>
                        </div>
                        <div class="column_inter_content">
                            <div class="column_button">
                                <a href="#">
                                    <div class="btn">
                                        <p>Discover<span class="span_spear"></span></p>
                                    </div>
                                </a>
                            </div>
                            <div class="column_sinse">
                                <p>Sinse 2020</p>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="content__column_two content_column">
                    
                </div>
            </div>
        </div>
        <div class="wrapper__fullscreen-block wrapper__table_back">
            <div class="wrapper__container">
                <div class="container_content">
                    <div class="content__column_title">
                        <h1>What we can do</h1>
                    </div>
                    <div class="content__column_table">
                        <div class="table__row_content">
                            <div class="table_rect table_rect1">
                                <div class="table__img_item">
                                    <img src="../static/img/makeup.png">
                                </div>
                                <div class="table__text_item">
                                    <p>Wedding make up</p>
                                </div>
                            </div>
                            <div class="table_rect table_rect2">
                                <div class="table__img_item">
                                    <img src="../static/img/wedding-arch.png">
                                </div>
                                <div class="table__text_item">
                                    <p>Themed wedding</p>
                                </div>
                            </div>
                            <div class="table_rect table_rect3">
                                <div class="table__img_item">
                                    <img src="../static/img/tent.png">
                                </div>
                                <div class="table__text_item">
                                    <p>Decoration</p>
                                </div>
                            </div>
                        </div>
                        <div class="table__row_content">
                            <div class="table_rect table_rect4">
                                <div class="table__img_item">
                                    <img src="../static/img/car.png">
                                </div>
                                <div class="table__text_item">
                                    <p>Transportation</p>
                                </div>
                            </div>
                            <div class="table_rect table_rect5">
                                <div class="table__img_item">
                                    <img src="../static/img/heart.png">
                                </div>
                                <div class="table__text_item">
                                    <p>Invitations</p>
                                </div>
                            </div>
                            <div class="table_rect table_rect6">
                                <div class="table__img_item">
                                    <img src="../static/img/wedding-cake.png">
                                </div>
                                <div class="table__text_item">
                                    <p>Wedding catering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__btn">
                        <a href="#">
                            <div class="vievmore_btn">
                                <p>View more</p>
                            </div>
                        </a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="wrapper__fullscreen-block gallery_fullscreen">
            <div class="wrapper__gallery-images slide wrapper__gallery-image1">
                <div class="wrapper__container">
                    <div class="wrapper__gallery">
                        <div class="gallery__content_title">
                            <div class="creative__design_elem">

                            </div>
                            <h1>Wedding Boom is absolutely the best!</h1>
                        </div>
                        <div class="gallery__content_text">
                            <p>We were offered support, advice and so much love from the whole team who made every single step of our elopement an easy and blissful experience. Weddings can be so stressful, but by simply choosing "Wedding boom" to take care of our elopement; all the stress was completely removed and we were able to fully enjoy our day for all that it was! Thank you so much for making the most important day of our lives, exactly what we’d always imagined. </p>
                        </div>
                        <div class="gallery__context_progress-bar">
                            <div class="progress-bar elem_1"></div>
                            <div class="progress-bar elem_2"></div>
                            <div class="progress-bar elem_3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper__gallery-images slide wrapper__gallery-image2">
                <div class="wrapper__container">
                    <div class="wrapper__gallery">
                        <div class="gallery__content_title">
                            <div class="creative__design_elem">

                            </div>
                            <h1>Wedding Boom is absolutely the best!</h1>
                        </div>
                        <div class="gallery__content_text">
                            <p>We were offered support, advice and so much love from the whole team who made every single step of our elopement an easy and blissful experience. Weddings can be so stressful, but by simply choosing "Wedding boom" to take care of our elopement; all the stress was completely removed and we were able to fully enjoy our day for all that it was! Thank you so much for making the most important day of our lives, exactly what we’d always imagined. </p>
                        </div>
                        <div class="gallery__context_progress-bar">
                            <div class="progress-bar elem_1"></div>
                            <div class="progress-bar elem_2"></div>
                            <div class="progress-bar elem_3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper__gallery-images slide wrapper__gallery-image3">
                <div class="wrapper__container">
                    <div class="wrapper__gallery">
                        <div class="gallery__content_title">
                            <div class="creative__design_elem">

                            </div>
                            <h1>Wedding Boom is absolutely the best!</h1>
                        </div>
                        <div class="gallery__content_text">
                            <p>We were offered support, advice and so much love from the whole team who made every single step of our elopement an easy and blissful experience. Weddings can be so stressful, but by simply choosing "Wedding boom" to take care of our elopement; all the stress was completely removed and we were able to fully enjoy our day for all that it was! Thank you so much for making the most important day of our lives, exactly what we’d always imagined. </p>
                        </div>
                        <div class="gallery__context_progress-bar">
                            <div class="progress-bar elem_1"></div>
                            <div class="progress-bar elem_2"></div>
                            <div class="progress-bar elem_3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper__fullscreen-block before__last_fullblock">
            <div class="wrapper__container wrapper_contain_high-height">
                <div class="other__works_wrapper">
                    <div class="gallery__other_works">
                        <div class="gallery__column">
                            <div class="gallery_item_img">
                                <img src="../static/img/our_works1.png">
                            </div>
                        </div>
                        <div class="gallery__column gallery__column_type-row">
                            <div class="gallery_item_img" style="margin-bottom: 13px;">
                                <img src="../static/img/our_works2.png">
                            </div>
                            <div class="gallery_item_img">
                                <img src="../static/img/our_works3.png">
                            </div>
                        </div>
                    </div>
                    <div class="content__column">
                        <div class="content__column_title">
                            <h1>Our works</h1>
                        </div>
                        <div class="content__column_text">
                            <p>You can see more in our Instagram account.</p>
                        </div>
                        <div class="content__column_btn">
                            <a href="#">
                                <div class="btn">
                                    <p>See more<span class="span_spear"></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper__fullscreen-block last_fullblock">
            <div class="wrapper__container container_registration">
                <div class="wrapper__registration">
                    <div class="registration__form_text">
                        <h1>Fill out  this form </h1>
                        <p>we’ll quickly get back to you.</p>
                    </div>
                    <div class="registration__form_input">
                        <form method="POST">
                            <div class="form__input_str">
                                <div class="input__text">
                                    <div class="input_group">
                                        <input type="text" name="name" id="name">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input_group">
                                        <input type="text" name="email" id="email">
                                        <label for="email">E-mail</label>
                                    </div>
                                    <div class="input_group">
                                        <input type="text" name="phone" id="phone">
                                        <label for="phone">Phone</label>
                                    </div>
                                </div>
                                <div class="input_group">
                                    <textarea name="" id="textarea" cols="30" rows="10"></textarea>
                                    <label class="label_for_area" for="textarea">Tell us about your dream...</label>
                                </div>
                            </div>
                            <div class="input__buttn">
                                <a href="#">
                                    <div class="btn">
                                        <p>Sent<span class="span_spear"></span></p>
                                    </div>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="registration__sign">
                        <p>With love, Wedding Boom</p>
                        <img src="../static/img/Vector.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper__footer">
            <div class="wrapper__container last_container">
                <div class="footer__contetn1">
                    <h1>Wedding Boom</h1>
                    <p style="padding-bottom: -40px;">We create your unique srory.</p>
                    <p style="margin-top: 30px;">St. Paul's Churchyard, London, EC4M 8BX</p>
                    <p>+44 (0) 20 7332 14 56</p>
                    <p>weddingboom@gmail.com</p>
                </div>
                <div class="footer__contetn2">
                    <h1>Information</h1>
                    <p style="margin-top: 30px;">Event Catalogue</p>
                    <p>Write for us</p>
                    <p>Write for us</p>
                </div>
                <div class="footer__contetn3">
                    <ul>
                        <a href="#">
                            <li>Archive</li>
                        </a>
                        <a href="#">
                            <li>About</li>
                        </a>
                        <a href="#">
                            <li>Stories</li>
                        </a>
                        <a href="#">
                            <li>Contacts</li>
                        </a>
                    </ul>
                </div>
                <div class="footer__contetn4">
                    <img src="../static/img/inst.png">
                    <img src="../static/img/you.png">
                    <img src="../static/img/face.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>