*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

a[class] {
  text-decoration: none;
}

a[class]:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
section {
  font: inherit;
}

@font-face {
  font-family: "Inter-Bold-slnt=0";
  font-display: swap;
  src: url("../fonts/Inter-Bold-slnt=0.woff") format("woff"), url("../fonts/Inter-Bold-slnt=0.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium-slnt=0";
  font-display: swap;
  src: url("../fonts/Inter-Medium-slnt=0.woff") format("woff"), url("../fonts/Inter-Medium-slnt=0.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular-slnt=0";
  font-display: swap;
  src: url("../fonts/Inter-Regular-slnt=0.woff") format("woff"), url("../fonts/Inter-Regular-slnt=0.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold-slnt=0";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold-slnt=0.woff") format("woff"), url("../fonts/Inter-SemiBold-slnt=0.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Bold";
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Light";
  font-display: swap;
  src: url("../fonts/Mulish-Light.woff") format("woff"), url("../fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Regular";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Medium";
  font-display: swap;
  src: url("../fonts/Mulish-Medium.woff") format("woff"), url("../fonts/Mulish-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-SemiBold";
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.btn {
  padding: 12px 45px;
  border-radius: 8px;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  z-index: 3000;
}

.btn__empty {
  border: #fb8f1d 1px solid;
  color: #fb8f1d !important;
}

.btn__empty:hover {
  background-color: #fb8f1d;
  color: #ffffff !important;
}

.btn__full {
  background-color: #fb8f1d;
  border: transparent 1px solid;
  color: #ffffff !important;
}

.btn__full:hover {
  background-color: #ffffff;
  border: #fb8f1d 1px solid;
  color: #fb8f1d !important;
}

.select {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  position: relative;
}

.select:nth-child(1),
.select:nth-child(2) {
  margin-bottom: 35px;
}

.select:nth-child(1),
.select:nth-child(3) {
  margin-right: 30px;
}

.select-wrap {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
}

.select-wrap select {
  margin: 20px;
}

.select__gap {
  background: white;
  color: #4a4c53;
  border: 0.8px #afb0b9 solid;
  font-family: "Inter-Regular-slnt=0";
  padding: 18px 25px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select__gap::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%234A4C53'/%3E%3C/svg%3E%0A");
  display: inline-block;
  position: absolute;
  right: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.select__gap-active::after {
  -webkit-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
          transform: rotate(540deg);
}

.on.select__gap,
.select__gap:hover {
  color: #467797;
}

.select__list {
  background-color: white;
  border: 0.8px #afb0b9 solid;
  border-radius: 8px;
  margin: 0px 0;
  z-index: 2000;
  position: absolute;
  width: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select__list.on {
  display: block;
}

.select__item span {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
}

.select__item.selected,
.select__item span:hover {
  color: #467797;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fbfbfb url("../img/processing.gif") no-repeat center center;
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  -o-transition: visibility 0s 2s, opacity 2s linear;
  transition: visibility 0s 2s, opacity 2s linear;
}

.section {
  padding: 150px 0px;
}

.section_one {
  background: url("../img/back2.png") no-repeat;
  background-position: calc(100% - 50vw) center !important;
  background-size: contain !important;
}

.section_one .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_one .container .content {
  max-width: 481px;
}

.section_one .container .content .content__title h2 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 40px;
}

.section_one .container .content .content__text {
  max-width: 450px;
}

.section_one .container .content .content__text p {
  font-family: "Mulish-Light";
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 40px;
}

.section_one .container .content .content__btn .btn {
  font-family: "Inter-SemiBold-slnt=0";
  font-size: 16px;
}

.section__two .bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__two .bar .content__title h2 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  line-height: 50px;
}

.section__two .bar .content__btn a {
  font-family: "Inter-SemiBold-slnt=0";
  font-size: 17px;
  color: #fb8f1d;
  padding: 15px 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__two .bar .content__btn a path {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__two .bar .content__btn a:hover {
  color: #ffffff;
  background-color: #fb8f1d;
  border-radius: 8px;
}

.section__two .bar .content__btn a:hover path {
  stroke: #ffffff;
}

.section__two .content__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__two .content__gallery .card__wrapper {
  border-radius: 8px;
  border: 2px #6eb864 solid;
  max-width: 261px;
  height: 337px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 40px auto;
  cursor: pointer;
}

.section__two .content__gallery .card__wrapper:hover .card__title {
  bottom: 0;
  left: 0;
}

.section__two .content__gallery .card__wrapper .card__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.section__two .content__gallery .card__wrapper .card__title {
  padding: 12px 30px;
  z-index: 1000;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  bottom: -13px;
  left: -29px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__two .content__gallery .card__wrapper .card__title h3 {
  font-family: "Inter-Bold-slnt=0";
  color: #042521;
}

.section__two .content__gallery .card__wrapper .card__title p {
  color: #80918e;
  font-family: "Inter-Regular-slnt=0";
}

.section_three {
  background: url("../img/back3.png") no-repeat;
  background-position: calc(100vw - 50vw) center !important;
  background-size: contain !important;
}

.section_three .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_three .container .content {
  max-width: 481px;
}

.section_three .container .content .content__title h2 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 40px;
}

.section_three .container .content .content__text {
  max-width: 450px;
}

.section_three .container .content .content__text p {
  font-family: "Mulish-Light";
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 40px;
}

.section_three .container .content .content__btn .btn {
  font-family: "Inter-SemiBold-slnt=0";
  font-size: 16px;
}

.section_four .container .content {
  width: 100%;
}

.section_four .container .content .top__content {
  width: inherit;
  padding: 70px 0;
}

.section_four .container .content .top__content h2 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
}

.section_four .container .content .bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_four .container .content .bottom__content .left__content {
  padding: 80px 0px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_four .container .content .bottom__content .left__content .rate__bar {
  margin-bottom: 35px;
}

.section_four .container .content .bottom__content .left__content .rate__bar .rate__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_four .container .content .bottom__content .left__content .blockquote__content {
  margin-bottom: 60px;
  max-width: 450px;
}

.section_four .container .content .bottom__content .left__content .blockquote__content p {
  font-family: "Mulish-Regular";
  font-size: 24px;
  line-height: 36px;
}

.section_four .container .content .bottom__content .left__content .blockquote__content p::before {
  content: ' "';
  display: inline;
}

.section_four .container .content .bottom__content .left__content .blockquote__content p::after {
  content: '" ';
  display: inline;
}

.section_four .container .content .bottom__content .left__content .author__content h4 {
  font-family: "Inter-Bold-slnt=0";
  font-size: 22px;
  line-height: 48px;
}

.section_four .container .content .bottom__content .left__content .author__content p {
  font-family: "Inter-Regular-slnt=0";
  font-size: 18px;
  line-height: 48px;
}

.section_four .container .content .bottom__content .right__content {
  width: 50%;
}

.section_four .container .content .bottom__content .right__content .slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  max-width: 384px;
  height: 491px;
  border-radius: 16px 16px 21px 16px;
  border: 2px #6eb864 solid;
}

.section_four .container .content .bottom__content .right__content .slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  height: 100%;
}

.section_four .container .content .bottom__content .right__content .slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.section_four .container .content .bottom__content .right__content .slider__item img {
  max-width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section_four .container .content .bottom__content .right__content .slider__control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #d7d7d7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff !important;
}

.section_four .container .content .bottom__content .right__content .slider__control svg path {
  stroke: #d7d7d7;
  fill: #ffffff;
}

.section_four .container .content .bottom__content .right__content .slider__control_left {
  margin-right: 22px;
}

.section_four .container .content .bottom__content .right__content .slider__control_show {
  border: 2px solid #000000 !important;
}

.section_four .container .content .bottom__content .right__content .slider__control_show svg path {
  stroke: #000000 !important;
  fill: #ffffff;
}

.section_four .container .content .bottom__content .right__content .slider__control:hover,
.section_four .container .content .bottom__content .right__content .slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.section_four .container .content .bottom__content .right__content .slider__control_container {
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px 0 0 0;
  padding: 20px 30px;
  bottom: -20px;
  right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_four .container .content .bottom__content .right__content .slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

.section__five .bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__five .bar .content__title h2 {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  line-height: 50px;
}

.section__five .bar .content__btn a {
  font-family: "Inter-SemiBold-slnt=0";
  font-size: 17px;
  color: #fb8f1d;
  padding: 15px 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__five .bar .content__btn a path {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__five .bar .content__btn a:hover {
  color: #ffffff;
  background-color: #fb8f1d;
  border-radius: 8px;
}

.section__five .bar .content__btn a:hover path {
  stroke: #ffffff;
}

.section__five .content__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__five .content__gallery .card__wrapper {
  border-radius: 8px;
  max-width: 261px;
  width: 100%;
  overflow: hidden;
  margin: 40px auto;
  z-index: 1;
  cursor: pointer;
}

.section__five .content__gallery .card__wrapper:hover .card__title {
  bottom: 0;
  left: 0;
}

.section__five .content__gallery .card__wrapper .card__img_wrap {
  position: relative;
  width: 100%;
  height: 233px;
}

.section__five .content__gallery .card__wrapper .card__img_wrap .card__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.section__five .content__gallery .card__wrapper .card__title {
  padding: 0 1px;
  z-index: 1;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section__five .content__gallery .card__wrapper .card__title h3 {
  font-family: "Inter-Bold-slnt=0";
  color: #042521;
  font-size: 19px;
  margin-top: 20px;
}

.section__five .content__gallery .card__wrapper .card__title p {
  color: #80918e;
  font-family: "Inter-Regular-slnt=0";
  font-size: 15px;
  margin-top: 20px;
}

.section__five .content__gallery .card__wrapper .card__btn {
  margin: 30px 0px;
}

.section__five .content__gallery .card__wrapper .card__btn a {
  font-family: "Inter-SemiBold-slnt=0";
  font-size: 17px;
  color: #fb8f1d;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0 !important;
  position: relative;
}

.section__five .content__gallery .card__wrapper .card__btn a::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fb8f1d;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-1000px);
      -ms-transform: translateX(-1000px);
          transform: translateX(-1000px);
  left: 0;
  bottom: -6px;
}

.section__five .content__gallery .card__wrapper .card__btn a:hover::after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.slider__control_show {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slider__control_show svg {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slider__control_show:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.footer {
  width: 100%;
  height: 482px;
  background-color: #f9f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .top__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-bottom: 0.8px solid #C4C4C4;
}

.footer .container .top__content div {
  margin: auto 0;
}

.footer .container .top__content .logo {
  margin-bottom: 30px;
}

.footer .container .top__content .footer__text {
  margin-bottom: 60px;
  max-width: 300px;
}

.footer .container .top__content .content__other p {
  font-family: 'Mulish-Light';
  font-size: 18px;
  line-height: 28px;
  color: #848484;
}

.footer .container .top__content .content__other span {
  font-family: 'Mulish-Light';
  font-size: 17px;
  line-height: 28px;
  color: #848484;
}

.footer .container .top__content .content__links .footer__list li .link {
  font-family: "Mulish-Regular";
  font-size: 18px;
  line-height: 36px;
  color: #848484;
}

.footer .container .top__content .content__links p {
  font-family: "Mulish-Bold";
  font-size: 19px;
  line-height: 60px;
}

.footer .container .bottom__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .container .bottom__content .socie__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .bottom__content .socie__list .socie_item {
  margin-right: 35px;
}

.footer .container .bottom__content .socie__list .socie_item:last-child {
  margin-right: 0;
}

.fly__element {
  z-index: -1;
  position: absolute;
}

.logo {
  z-index: 2000;
}

.open__menu {
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.item__burger {
  display: none;
  z-index: 2000;
}

.burger__hidden::before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  top: 7px !important;
}

.burger__hidden::after {
  -webkit-transform: translate(0, 0) rotate(-45deg);
      -ms-transform: translate(0, 0) rotate(-45deg);
          transform: translate(0, 0) rotate(-45deg);
  bottom: 7px !important;
}

.burger__hidden .main__span_element-burger {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.ring__logo-parent {
  width: 41px;
  height: 41px;
  background-color: #1abe84;
}

.ring__logo-parent .ring__logo-child {
  width: 21px;
  height: 21px;
  background-color: #ffffff;
}

.ring__logo-parent .ring__logo-child .ring__logo-sister {
  width: 15px;
  height: 15px;
  background-color: #fb8f1d;
}

.circle {
  border-radius: 50%;
}

.fl_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  overflow: hidden;
}

option {
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 220px;
  height: inherit;
  border-radius: inherit;
}

.item__burger button {
  background-color: inherit;
  height: 15px;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.item__burger button::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #b8becd;
  border-radius: 8px;
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item__burger button::after {
  content: "";
  width: 25px;
  bottom: 0;
  height: 2px;
  background-color: #b8becd;
  border-radius: 8px;
  display: block;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item__burger button .main__span_element-burger {
  width: 25px;
  height: 2px;
  background-color: #b8becd;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.page {
  background-image: url("../img/back1.png");
  background-repeat: no-repeat;
  background-position: calc(100vw - 52vw) center;
  background-size: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .main .container .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

.page .main .container .content .content__title {
  font-family: "PlayfairDisplay-Bold";
  font-size: 64px;
  color: #202336;
  margin-bottom: 80px;
  line-height: 80px;
}

.page .main .container .content .content__form h3 {
  font-family: "Inter-SemiBold-slnt=0";
  font-size: 22px;
  font-weight: bold;
  color: #202336;
  margin: 0;
  margin-bottom: 75px;
  position: relative;
}

.page .main .container .content .content__form h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #202336;
  border-radius: 3px;
  margin-top: 23px;
  -webkit-transition-delay: 3s;
       -o-transition-delay: 3s;
          transition-delay: 3s;
}

.page .main .container .content .content__form .btn {
  margin-top: 50px;
  padding: 15px 55px;
  font-family: "Mulish-Bold";
  font-size: 17px;
}

.page .main .container .content .content__form .group__chooise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page .header {
  padding-top: 25px;
  background-color: #ffffff;
}

.page .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .header .container .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  list-style-type: none;
  font-family: "Inter-Regular-slnt=0";
  font-size: 16px;
}

.page .header .container .nav__menu .item__def {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.page .header .container .nav__menu .item__def:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.page .header .container .nav__menu .nav__item {
  margin-right: 35px;
}

.page .header .container .nav__menu .nav__item:nth-child(6) {
  margin-right: 0px;
}

.page .header .container .nav__menu a {
  text-decoration: none;
  color: #b8becd;
}

.page .header .container .nav__menu a.active {
  color: #202336;
}

@media screen and (max-width: 991px) {
  .nav__menu {
    position: absolute;
    -webkit-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
            transform: translateY(-300%);
    width: 100vw;
    height: 100vh;
    display: inline;
    background-color: #ffffff;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1000;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px !important;
  }

  .nav__menu .nav__item {
    margin: 0px 0px 35px 0px !important;
  }

  .item__burger {
    display: inline !important;
  }

  .content__text p {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 16px 15px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 16px 15px rgba(255, 255, 255, 0.8);
  }

  .footer {
    height: auto;
  }

  .footer .container .top__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer .container .top__content .logo {
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .container .top__content .footer__text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .page .main .container .content .content__title {
    margin-bottom: 10px;
  }

  .page .main .container .content .content__form h3 {
    margin-bottom: 10px;
  }

  .page .main .container .content .content__form h3::after {
    content: none;
  }

  .select {
    width: 100% !important;
    margin: 0px 0px 15px 0px !important;
  }

  .section {
    padding: 50px 0px !important;
  }

  .card__wrapper {
    max-width: 100% !important;
    margin: 20px auto !important;
  }

  .top__content {
    padding: 30px 0 !important;
  }

  .fly__element {
    display: none;
  }

  .section_four .container .content .bottom__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section_four .container .content .bottom__content .left__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section_four .container .content .bottom__content .left__content .author__content {
    margin-bottom: 20px;
  }

  .section_four .container .content .bottom__content .left__content .blockquote__content {
    margin-bottom: 45px;
  }

  .section_four .container .content .bottom__content .right__content {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .page .main .container .content .content__title {
    font-size: 50px;
    line-height: 65px;
  }

  .select__gap {
    padding: 10px 20px !important;
  }

  .a_btn {
    padding: 0px !important;
    background-color: transparent !important;
  }

  .page .main .container .content .content__form .btn {
    margin: 0;
    padding: 10px 30px !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@supports (-webkit-appearance:none){
#preloader{background:#fbfbfb url("../img/processing.gif") no-repeat center center}
.section_one{background:url("../img/back2.webp") no-repeat}
.section_three{background:url("../img/back3.webp") no-repeat}
.page{background-image:url("../img/back1.webp")}
}

 @media screen and (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 479px){

@supports (-webkit-appearance:none){

}

}

 @media (prefers-reduced-motion: reduce){

@supports (-webkit-appearance:none){

}

}
