<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <script src="../static/script/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Wedding Boom</title>
</head>

<body>
    <div class="wrapper">
        <div class="fullscreen__div">
            <div class="header">
                <div class="container">
                    <div class="container__header">
                        <div class="logo">
                            <p class="logo__item">Wedding&nbsp;Boom</p>
                        </div>
                        <ul class="menu">
                            <li class="menu__item item1">
                                <a href="" class="menu__link">Archive</a></li>
                            <li class="menu__item item2">
                                <a href="" class="menu__link">Stories</a></li>
                            <li class="menu__item item3">
                                <a href="" class="menu__link">About</a>
                            </li>
                            <li class="menu__item item4">
                                <a href="" class="menu__link">Contacts</a>
                            </li>
                            <li class="menu__item item_burger">
                                <a href="#" class="menu__link">
                                    <span class="burger_line"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main__intro">
                <div class="container column_container">
                    <div class="column column_1">
                        <div class="content__text">
                            <div class="content__position">
                                <div class="text_title">
                                    <h1 class="title">Wedding boom</h1>
                                </div>
                                <div class="text_parag">
                                    <p class="parag">We create your unique story.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content__footer">
                            <div class="button__content">
                                <a href="" class="button__link">
                                    Discover<span></span>
                                </a>
                            </div>
                        </div>
                        <div class="content__sinse">
                            <p>Sinse 2014</p>
                        </div>
                    </div>
                    <div class="column column_2">

                    </div>
                </div>
            </div>
        </div>
        <div class="section what_we_can_do">
            <div class="container">
                <div class="container__title">
                    <div class="element_title">
                        <h1 class="title">What we can do</h1>
                    </div>
                </div>
                <div class="container__table">
                    <div class="row__elements row1">
                        <div class="columns_elements column1">
                            <div class="item__img">
                                <img src="../static/img/makeup.png">
                            </div>
                            <div class="item__text">
                                <p class="parag">Wedding make up</p>
                            </div>
                        </div>
                        <div class="columns_elements column2">
                            <div class="item__img">
                                <img src="../static/img/wedding-arch.png">
                            </div>
                            <div class="item__text">
                                <p class="parag">Themed wedding</p>
                            </div>
                        </div>
                        <div class="columns_elements column3">
                            <div class="item__img">
                                <img src="../static/img/tent.png">
                            </div>
                            <div class="item__text">
                                <p class="parag">Decoration</p>
                            </div>
                        </div>
                    </div>
                    <div class="row__elements row2">
                        <div class="columns_elements column1">
                            <div class="item__img">
                                <img src="../static/img/car.png">
                            </div>
                            <div class="item__text">
                                <p class="parag">Transportation</p>
                            </div>
                        </div>
                        <div class="columns_elements column2">
                            <div class="item__img">
                                <img src="../static/img/heart.png">
                            </div>
                            <div class="item__text">
                                <p class="parag">Invitations</p>
                            </div>
                        </div>
                        <div class="columns_elements column3">
                            <div class="item__img">
                                <img src="../static/img/wedding-cake.png">
                            </div>
                            <div class="item__text">
                                <p class="parag">Wedding catering</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__button">
                    <a href="" class="button">
                        View more
                    </a>
                </div>
            </div>
        </div>
        <div class="section section__gallery">
            <div class="wrapper__gallery gallery1">
                <div class="container container__gallery">
                    <div class="gallery__content_title">
                        <div class="creative__design_elem">
                            <img src="../static/img/gallery-element.png">
                        </div>
                        <h1 class="title other_title other_content">"Wedding Boom is absolutely the best!"</h1>
                    </div>
                    <div class="gallery__content_text">
                        <p class="parag other_content">We were offered support, advice and so much love from the whole
                            team who made every single step of our elopement an easy and blissful experience. Weddings
                            can be so stressful, but by simply choosing "Wedding boom" to take care of our elopement;
                            all the stress was completely removed and we were able to fully enjoy our day for all that
                            it was! Thank you so much for making the most important day of our lives, exactly what we’d
                            always imagined.</p>
                    </div>
                    <div class="gallery__context_progress-bar">
                        <div class="progress-bar elem_1"></div>
                        <div class="progress-bar elem_2"></div>
                        <div class="progress-bar elem_3"></div>
                    </div>
                </div>
            </div>
            <div class="wrapper__gallery gallery2">
                <div class="container">

                </div>
            </div>
            <div class="wrapper__gallery gallery3">
                <div class="container">

                </div>
            </div>
        </div>
        <div class="section section__gallery_rel">
            <div class="container">
                <div class="our_works__wrapper">
                    <div class="photo__cart">
                        <div class="photo_cart-table">
                            <div class="photo_column photo_column1">
                                <img src="../static/img/our_works1.png">
                            </div>
                            <div class="photo_column photo_column2">
                                <img src="../static/img/our_works2.png">
                                <img src="../static/img/our_works3.png">
                            </div>
                        </div>
                    </div>
                    <div class="redirect__form">
                        <div class="redirect_title">
                            <h1 class="title">Our works</h1>
                        </div>
                        <div class="redirect_text">
                            <p class="parag">You can see more in our Instagram account.</p>
                        </div>
                        <div class="redirect_btn">
                            <a href="" class="button__link">
                                See more<span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section last_section">
            <div class="container registration_cont">
                <div class="wrapper__registration">
                    <div class="registration__form_text">
                        <h1 class="title">Fill out this form </h1>
                        <p class="parag">we’ll quickly get back to you.</p>
                    </div>
                    <div class="registration__form_input">
                        <form method="POST">
                            <div class="form__input_str">
                                <div class="input__text">
                                    <div class="input_group">
                                        <input type="text" name="name" id="name">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input_group">
                                        <input type="text" name="email" id="email">
                                        <label for="email">E-mail</label>
                                    </div>
                                    <div class="input_group">
                                        <input type="text" name="phone" id="phone">
                                        <label for="phone">Phone</label>
                                    </div>
                                </div>
                                <div class="input_group">
                                    <textarea name="" id="textarea" cols="30" rows="10"></textarea>
                                    <label class="label_for_area" for="textarea">Tell us about your dream...</label>
                                </div>
                            </div>
                            <div class="input__buttn">
                                <a href="#" class="button__link">
                                    Sent<span class="span_spear"></span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="registration__sign">
                        <p>With love, Wedding Boom</p>
                        <img src="../static/img/Vector.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container last_container">
            <div class="footer__contetn1">
                <h1>Wedding Boom</h1>
                <p style="padding-bottom: -40px;">We create your unique srory.</p>
                <p style="margin-top: 40px;">St. Paul's Churchyard, London, EC4M 8BX</p>
                <p>+44 (0) 20 7332 14 56</p>
                <p>weddingboom@gmail.com</p>
            </div>
            <div class="ftcont footer__contetn2">
                <h1>Information</h1>
                <p style="margin-top: 30px;">Event Catalogue</p>
                <p>Write for us</p>
                <p>Write for us</p>
            </div>
            <div class="ftcont footer__contetn3">
                <ul>
                    <a href="#">
                        <li>Archive</li>
                    </a>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Stories</li>
                    </a>
                    <a href="#">
                        <li>Contacts</li>
                    </a>
                </ul>
            </div>
            <div class="ftcont footer__contetn4">
                <img src="../static/img/inst.png">
                <img src="../static/img/you.png">
                <img src="../static/img/face.png">
            </div>
        </div>
    </div>
    </div>
</body>

</html>